<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2 class="mt-5">Log in</h2>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="user_name" class="form-label">User name</label>
        <input type="text" class="form-control" id="user_name" name="user_name" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
      <a href="/sign_up" class="btn btn-primary">Don't have an acc? Create One! </a>
    </form>

  </div>
</body>
</html>
